@model ComicBookRepository.ComicBookDetails

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Comic Book Details - <label asp-for="Title" class="control-label"></label></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IssueNum" class="control-label"></label>
                <input asp-for="IssueNum" class="form-control" />
                <span asp-validation-for="IssueNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueName" class="control-label"></label>
                <input asp-for="IssueName" class="form-control" />
                <span asp-validation-for="IssueName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Own" class="control-label"></label>
                <input asp-for="Own" class="form-control" />
                <span asp-validation-for="Own" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
